<?xml version="1.0" encoding="UTF-8"?>

<targets>
    <database>
        <server>localhost</server>
        <type>MYSQL</type>
        <user>root</user>
        <password>test</password>
        <dbName>test</dbName>
    </database>

    <!-- Specify the PUMS data table names from which PUMA incidence tables are generated, as well as the field name for a unique identifier and the PUMS weight field name -->
    <pumsData>
        <idField>hhnum</idField>
        <pumaFieldName>puma</pumaFieldName>
        <metaFieldName>region</metaFieldName>
        <tazFieldName>taz</tazFieldName>
        <mazFieldName>maz</mazFieldName>
        <weightField>weight</weightField>
        <hhTable>hhtable</hhTable>
        <persTable>perstable</persTable>
        <pumsHhTable>hhtable</pumsHhTable>
        <pumsHhIdField>hhnum</pumsHhIdField>
        <pumsPersTable>perstable</pumsPersTable>
        <maxExpansionFactor>300</maxExpansionFactor>
        <synpopOutputHhTableName>synpop_hh</synpopOutputHhTableName>
        <synpopOutputPersTableName>synpop_person</synpopOutputPersTableName>
        <outputHhAttributes>HouseholdId, DwellingType, NumberOfPersons, Vehicles, IncomeClass</outputHhAttributes>
        <outputPersAttributes>PersonNumber, Age, Sex, License, TransitPass, EmploymentStatus, Occupation,FreeParking,
            StudentStatus,EmploymentZone
        </outputPersAttributes>
    </pumsData>
    <!-- changed max expansion factor -->

    <!-- Specify the table name and name of id field for the MAZ control totals table -->
    <mazControlsTable>
        <mazTable id="1">
            <table_name>control_totals_maz</table_name>
            <id_field_name>maz</id_field_name>
            <aggregation_level>maz</aggregation_level>
        </mazTable>
    </mazControlsTable>

    <!-- Specify the table name and name of id field for the table of TAZ control totals that are not fields in the MAZ control total table -->
    <tazControlsTable>
        <tazTable id="1">
            <table_name>control_totals_taz</table_name>
            <id_field_name>taz</id_field_name>
            <aggregation_level>taz</aggregation_level>
        </tazTable>
    </tazControlsTable>

    <!-- Specify the table name, id field name, and aggregation level for each table of META control totals -->
    <metaControlsTables>
        <metaTable id="1">
            <table_name>control_totals_meta</table_name>
            <id_field_name>REGION</id_field_name>
            <aggregation_level>PUMA</aggregation_level>
        </metaTable>
    </metaControlsTables>


    <target>
        <!-- Total households in each MAZ Control#0 -->
        <marginals>
            <id>0</id>
            <description>MAZ Level Control: Total Number of Households</description>
            <totalHouseholdsControl>true</totalHouseholdsControl>
            <controlType>simple</controlType>
            <geographyType>maz</geographyType>
            <table>hhtable</table>
            <constraint id="1">
                <importance>100</importance>
                <field>weight</field>
                <controlField>totalhh</controlField>
                <type>interval</type>
                <lo_value>-100</lo_value>
                <lo_type>open</lo_type>
                <hi_value>infinity</hi_value>
                <hi_type>open</hi_type>
            </constraint>
        </marginals>
    </target>


    <target>

        <marginals>
            <id>1</id>
            <description>Occupation Counts</description>
            <geographyType>maz</geographyType>
            <controlType>count</controlType>
            <table>perstable</table>
            <constraint id="1">
                <importance>1000</importance>
                <controlField>G</controlField>
                <field>Occupation</field>
                <type>equality</type>
                <value>1</value>
            </constraint>
            <constraint id="2">
                <importance>1000</importance>
                <controlField>S</controlField>
                <field>Occupation</field>
                <type>equality</type>
                <value>2</value>
            </constraint>
            <constraint id="3">
                <importance>1000</importance>
                <controlField>M</controlField>
                <field>Occupation</field>
                <type>equality</type>
                <value>3</value>
            </constraint>
            <constraint id="4">
                <importance>1000</importance>
                <controlField>P</controlField>
                <field>Occupation</field>
                <type>equality</type>
                <value>4</value>
            </constraint>

            <constraint id="5">
                <importance>1000</importance>
                <controlField>O</controlField>
                <field>Occupation</field>
                <type>equality</type>
                <value>5</value>
            </constraint>


        </marginals>
    </target>

    <target>

        <marginals>
            <id>2</id>
            <description>EmploymentStatus Categories Counts</description>
            <geographyType>maz</geographyType>
            <controlType>count</controlType>
            <table>perstable</table>
            <constraint id="1">
                <importance>1000</importance>
                <controlField>E_O</controlField>
                <field>EmploymentStatus</field>
                <type>equality</type>
                <value>1</value>
            </constraint>
            <constraint id="2">
                <importance>1000</importance>
                <controlField>E_F</controlField>
                <field>EmploymentStatus</field>
                <type>equality</type>
                <value>2</value>
            </constraint>
            <constraint id="3">
                <importance>1000</importance>
                <controlField>E_P</controlField>
                <field>EmploymentStatus</field>
                <type>equality</type>
                <value>3</value>
            </constraint>


        </marginals>
    </target>

    <target>


        <marginals>
            <id>3</id>
            <description>Employment Zone</description>
            <geographyType>taz</geographyType>
            <controlType>count</controlType>
            <table>perstable</table>
            <constraint id="1">
                <importance>5000</importance>
                <controlField>employment_zone_0</controlField>
                <field>EmploymentZone</field>
                <type>interval</type>
                <lo_value>0</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>1</hi_value>
                <hi_type>open</hi_type>
            </constraint>
            <constraint id="2">
                <importance>5000</importance>
                <controlField>employment_zone_internal</controlField>
                <field>EmploymentZone</field>
                <type>interval</type>
                <lo_value>1</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>6000</hi_value>
                <hi_type>open</hi_type>
            </constraint>
            <constraint id="3">
                <importance>5000</importance>
                <controlField>employment_zone_external</controlField>
                <field>EmploymentZone</field>
                <type>interval</type>
                <lo_value>6000</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>8887</hi_value>
                <hi_type>closed</hi_type>
            </constraint>

            <constraint id="4">
                <importance>5000</importance>
                <controlField>employment_zone_roaming</controlField>
                <field>EmploymentZone</field>
                <type>interval</type>
                <lo_value>8888</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>8889</hi_value>
                <hi_type>closed</hi_type>
            </constraint>


        </marginals>
    </target>


    <target>
        <marginals>
            <id>4</id>
            <description>Number of persons by age Category</description>
            <geographyType>meta</geographyType>
            <controlType>count</controlType>
            <table>perstable</table>
            <constraint id="1">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age0_4</controlField>
                <type>interval</type>
                <lo_value>0</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>4</hi_value>
                <hi_type>closed</hi_type>
            </constraint>
            <constraint id="2">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age5_10</controlField>
                <type>interval</type>
                <lo_value>5</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>10</hi_value>
                <hi_type>closed</hi_type>
            </constraint>
            <constraint id="3">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age11_15</controlField>
                <type>interval</type>
                <lo_value>11</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>15</hi_value>
                <hi_type>closed</hi_type>
            </constraint>

            <constraint id="4">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age16_25</controlField>
                <type>interval</type>
                <lo_value>16</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>25</hi_value>
                <hi_type>closed</hi_type>
            </constraint>
            <constraint id="5">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age26_35</controlField>
                <type>interval</type>
                <lo_value>26</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>35</hi_value>
                <hi_type>closed</hi_type>
            </constraint>
            <constraint id="6">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age36_45</controlField>
                <type>interval</type>
                <lo_value>36</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>45</hi_value>
                <hi_type>closed</hi_type>
            </constraint>
            <constraint id="7">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age46_55</controlField>
                <type>interval</type>
                <lo_value>46</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>55</hi_value>
                <hi_type>closed</hi_type>
            </constraint>
            <constraint id="8">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age56_64</controlField>
                <type>interval</type>
                <lo_value>56</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>64</hi_value>
                <hi_type>closed</hi_type>
            </constraint>
            <constraint id="9">
                <importance>1000</importance>
                <field>Age</field>
                <controlField>age65_200</controlField>
                <type>interval</type>
                <lo_value>65</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>200</hi_value>
                <hi_type>closed</hi_type>
            </constraint>
        </marginals>

    </target>

     <target>
        <marginals>
            <id>5</id>
            <description>Total number of people</description>
            <geographyType>meta</geographyType>
            <controlType>count</controlType>
            <table>perstable</table>
            <constraint id="1">
                <importance>10000000</importance>
                <field>weight</field>
                <controlField>totpop</controlField>
                <type>interval</type>
                <lo_value>0</lo_value>
                <lo_type>closed</lo_type>
                <hi_value>99999999</hi_value>
                <hi_type>open</hi_type>
            </constraint>
        </marginals>
     </target>


</targets>